.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.swo
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*0x*0x*.ld
*_0x*.ld
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
software/apps/*/*_obj/
software/zputa/zpu_obj/
software/iocp/iocp_obj/
software/build/
docker/QuartusPrime/files/QuartusHelpSetup-17.1.0.590-linux.run
docker/QuartusPrime/files/QuartusLiteSetup-17.1.0.590-linux.run
docker/QuartusPrime/files/QuartusProgrammerSetup-17.1.0.590-linux.run
docker/QuartusPrime/files/QuartusSetup-17.1.0.590-linux.run
docker/QuartusPrime/files/QuartusSetup-17.1.1.593-linux.run
docker/QuartusPrime/files/arria_lite-17.1.0.590.qdz
docker/QuartusPrime/files/cyclone-17.1.0.590.qdz
docker/QuartusPrime/files/cyclone10lp-17.1.0.590.qdz
docker/QuartusPrime/files/cyclonev-17.1.0.590.qdz
docker/QuartusPrime/files/max-17.1.0.590.qdz
docker/QuartusPrime/files/max10-17.1.0.590.qdz
software/startup/iocp_bram_0x000000.ld
software/startup/old/
software/startup/zputa_standalone_boot_in_bram.ld
software/startup/zputa_with_tiny_iocp_in_bram.ld
build/ReVerSE-U16.qpf
build/ddd
cpu/zpu_core_evo.vhd.bakPreMultChange
devices/WishBone/SDRAM.old/
devices/WishBone/SDRAM/old/
devices/sysbus/SDRAM.bak/
devices/sysbus/SDRAM/old/
nohup.out
software/micropython/
software/x/
docker/QuartusPrime/files/bad/
docker/QuartusPrime/Dockerfile.13.0.1.old
docker/QuartusPrime/Quartus-web-13.0.1.232-linux.tar
docker/QuartusPrime/files/13.0/
docker/QuartusPrime/files/13.1/
docker/QuartusPrime/files/17.1/
docker/QuartusPrime/local/
docker/QuartusPrime/quartus_docker.sh
docker/QuartusPrime/unison/
docker/QuartusPrime/x/
zpu_core_evo.vhd.bakPreZ80
zpu_core_evo.vhd.new
zpu_core_evo.vhd.preZ80_2
zpu_core_evo.vhd.workingpre64bitL1
zpu_core_evo_L2.vhd.workingpre64bitL1
