.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
software/apps/*/*_obj/
software/zputa/zpu_obj/
software/iocp/iocp_obj/
software/build/
